name: CI/CD Local Minikube

on:
  push:
    branches:
      - master

jobs:
  deploy-local:
    runs-on: self-hosted  # Isso manda rodar no SEU computador

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Construir Imagem Docker (Direto no Minikube)
      run: |
        # Aponta o Docker para dentro do Minikube (para não precisar de Registry)
        eval $(minikube -p minikube docker-env)
        docker build -t devmoisesalves/meu-site-prod:latest .

    - name: Deploy no Kubernetes
      run: |
        # Aplica a configuração
        minikube kubectl -- apply -f deployment.yaml
        
        # Força o Kubernetes a atualizar (caso a imagem tenha mudado)
        minikube kubectl -- rollout restart deployment/meu-site-deployment
