name: CI/CD Pipeline Deployment

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: |
        docker build -t devmoisesalves/meu-site-prod:latest .

    - name: K8s Auth - Set KUBECONFIG
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBE_TOKEN }}" > $HOME/.kube/config
      
    - name: Deploy to Kubernetes
      uses: azure/k8s-deploy@v5
      with:
        kubeconfig: $HOME/.kube/config
        action: deploy
        strategy: basic
        manifests: |
          ./deployment.yaml
        images: devmoisesalves/meu-site-prod:latest
